.header{
    height:55px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:100;
    background-color:white;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:rgb(190, 186, 186);
   
}

    .hamburger-menu{
        height:24px;
        margin-left:24px;
        
    }
    .hamburger-menu:hover{
        opacity:0.5;
    }

    .youtube-logo{
     width:120px;
     height:30px;
     margin-left:30px;
     }

  
  .left-section{
   width:280px;
    display:flex;
    align-items:center;
   
    }

.middle-section{
    
    display:flex;
    align-items:center;
    justify-content:center;
    flex:1;    
    margin-left:70px;
    margin-right:35px;
    max-width:500px;
}

.search-box{
    display:flex;
    justify-content:center;
    height:37px;
    padding-left:20px;
    flex:1;
    font-size:16px;
    align-items:center;
    border-width:1px;
    border-style:solid;
    border-color:rgb(203, 200, 200);
    width:0;
   }

   
 
   .search-button{ 
    display:flex;
    justify-content:center;
    position:relative;
      background-color:#f9f6f6;
      height:40px;
      width:60px;
      border-width:1px;
      border-style:solid;
      border-color:rgb(203, 200, 200);
      cursor:pointer;
   }

    .search-button img{
        height:25px;
    }

    


    .search-button .tooltip,
    .voice-search-button .tooltip{
        position:absolute;
        background-color:gray;
        padding-top:4px;
        padding-bottom:4px;
        padding-left:8px;
        padding-right:8px;
        font-family:roboto,arial;
        font-size:12px;
        color:white;
         bottom:-30px;
         opacity:0;
         transition:opacity 0.15s;
         pointer-events:none;
        
       }

       .search-button:hover .tooltip,
       .voice-search-button:hover .tooltip{
          opacity:1;
       }

   .voice-search-button{
    display:flex;
    justify-content:center;
    height:36px;
    width:36px;
    border-radius:20px;
    background-color:#f5f3f3;
    border:none;
    margin-left:10px;
    cursor:pointer;
   }

   .voice-search-button img{
    height:25px;
    position:relative;;
   }




   .right-section{
    flex-shrink:0;  
    width:250px;
    display:flex;
    align-items:center;
    margin-right:20px;
   
    justify-content:center;
    
}

.right-section img{
    height:28px;
    
  
    
}

.my-profile{
   height:40px;
   
    border-radius:20px;
   
}


.user-profile{
    font-size:6px;
    font-family:roboto,arial;
    font-color:gray;
    font-weight:500;
    width:55px;
    height:50px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}

.user-profile:hover{
    opacity:0.8;
}

.user-profile:active{
    opacity:0.5;
}