.side-bar{
    position:fixed;
    bottom:0;
    left:0;
    top:55px;
    background-color:white;
    cursor:pointer;
}

.sidebar-link{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;    
    height:74px;
    width:74px;
    
}

.sidebar-link div{

    font-family:roboto,arial;
    font-size:10px;
}

.sidebar-link:hover{
    background-color:rgb(226, 223, 223);
}

.sidebar-link:active{
    opacity:0.6;
}

.sidebar-link img{ 
    height:24px;
    margin-bottom:4px;
}